
.app-cm_login__title {
  margin-bottom: 20px;
}

.logon-card {
  // border-radius: 5px;
  // box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  margin: 50px auto 20px;
}
.alert-warning {
  color: #e53935;
  background-color: rgba(229,57,53,.15);
}

.button-warning{
  color: #e53935;
}
